.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 2rem;
}

.header-logo {
  height: 40px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

li {
  font-size: 1.2rem;
}

nav li:not(:last-child)::after {
  content: "X";
  color: darkred;
  margin-left: 1em;
}

hr {
  border: 0.5px solid darkred;
}

/* RESPONSIVE CSS */

@media screen and (max-width: 600px) {

  .header-container {
    margin: 0.5rem 0.75rem;
    justify-content: center;
  }

  img.header-logo {
    display: none;
  }
}

@media screen and (max-width: 710px) {

  .header-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}