.header-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 6rem;
}

.header-logo {
  height: 40px;
}

.links-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

li {
  font-size: 1.2rem;
}

nav li:not(:last-child)::after {
  content: "X";
  color: darkred;
  margin-left: 1em;
}

hr {
  border: 0.5px solid darkred;
}

/* RESPONSIVE CSS */

@media screen and (max-width: 600px) {

  .header-container,
  .links-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  nav li:not(:last-child)::after {
    content: none;
  }
}