.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nested-site-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 90%;
  margin: 0.5rem auto;
  align-items: stretch;
  gap: 2rem;
}