.site-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.nested-site-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  gap: 2rem;
  margin: 7rem auto 0 auto;
  padding: 0 1.2rem;
}

footer {
  margin-top: 10rem;
  text-align: center;
  font-size: 1.4rem;
}

.fixed-header {
  max-width: 1800px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

/* RESPONSIVE CSS */

@media screen and (max-width: 600px) {
  .site-container {
    width: 600px;
  }

  .nested-site-container {
    margin-top: 4rem;
  }
}